# Test scenarios using PostMan
## Collection is empty 
![alt text](images\Empty_collection.png)

## Test results-postman 
![alt text](images\Empty_collection_result.png)

## Providing config file as per the use case
Test results-postman [POST] request/response
![alt text](images/0_PostSeverConfig.png)

## Test resulsts-postman [GET] request/response

![alt text](images/0_GETSeverConfig.png)

##  Test results - postman-2
Test results-postman [POST] request/response
![alt text](images/1_PostSeverConfig.png)

## Test resulsts-postman [GET] request/response

![alt text](images/1_GETSeverConfig.png)


